body {
  background: linear-gradient(166deg, black 33%, #212121, black);
  font-family: "Staatliches", cursive;
  background: url(./img/moon-36.gif) no-repeat;
  background-attachment: fixed;
}

.section {
  display: flex;
  justify-content: space-between;
}
.zoneLOGO {
  width: 20%;
  top: 0;
  left: 0;
}

.imgGIFI {
  height: 195px;
  left: 0;
  top: 0;
}

.title {
  font-size: 13px;
  text-align: center;
  color: white;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title span {
  color: #cbf000;
  font-size: 190%;
  text-shadow: 2px 2px 3px black;
}
.title h1 {
  font-size: 32px;
  margin-top: 5%;
  color: white;
  text-align: center;
  display: block;
}
input:focus {
  border: 0px solid black;
  color: #cbf000;
  background: #fafafa;
}

.SignaTure {
  color: white;
  text-align: center;
  padding: 5%;
  font-family: "Indie Flower", cursive;
}

.sectionFORM {
  display: flex;
  margin-top: 5%;
  padding: 5%;
}
.form_base {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}
.form_base input {
  font-family: "Otomanopee One", sans-serif;
  border: none;
  border-bottom: 2px solid #cbf000;
  background: url(./img/transparentnoir80.png);
  padding-left: 2%;
  height: 3em;
  width: 90%;
  font-size: 13px;
  color: #cbf000;
}
.button:hover {
  background: #efefef;
  border: 3px solid #cbf000;
  color: black;
  font-weight: bold;
  text-align: center;
}
.button {
  margin: auto;
  font-family: "Otomanopee One", sans-serif;
  background: linear-gradient(90deg, black, #333333);
  color: #cbf000;
  padding: 1.5%;
  margin-top: 10%;
  border-left: 10px solid black;
  border-right: 10px solid black;
  border-radius: 10%;
  width: 40%;
}

.footer {
  background: linear-gradient(134deg, #fafafa, #978a8a);
  text-align: center;
  padding: 2.5%;
  display: block;
  font-family: "Indie Flower", cursive;
}
.footer a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
}
.footer a:hover {
  color: #cbf000;
}
.footer strong {
  color: #cbf000;
  text-shadow: 1px 1px 1px black;
}

/* COMPONENT STEP 2*/ /* COMPONENT STEP 2*/
.BODYsection {
  padding: 5%;
  width: 50%;
  margin-left: 20%;
  margin-top: 5%;
  background: url(./img/transparent75NEW_BW.png);
  box-shadow: black 0px 8px 8px 0px;
  border: 3px solid white;
  border-radius: 10px;
}

.pageTitle {
  color: #cbf000;
  font-weight: bold;
  padding: 1%;
  font-size: 25px;
  margin-bottom: 10%;
}
.ficheUSer {
  color: white;
  text-align: center;
}
.goBack {
  padding: 3%;
  width: 100%;
}
/* COMPONENT STEP 2*/ /* COMPONENT STEP 2*/

/*      MEDIA QUERY         */

@media (max-width: 984px) {
  body {
    background: #efefef;
    color: black;
    background-image: url(./img/giphy223.gif);
    background-attachment: fixed;
    background-size: cover;
  }
  .form_base {
    margin-top: -15%;
    margin-bottom: 5%;
  }
  .title {
    font-size: 40px;
    color: white;
    margin-left: -20%;
    text-align: left;
  }
  .title h1 {
    position: relative;
    color: white;
    font-size: 50px;
    top: 0;
    right: 0;
    text-align: left;
  }
  .zoneLOGO {
    display: none;
  }
  .SignaTure {
    margin-top: 5%;
  }
}

@media (max-width: 480px) {
  body {
    background: black;
  }
  .footer {
    background: linear-gradient(134deg, #333333, black, #212121);
    color: white;
    padding: 10%;
  }
  .footer a {
    font-weight: bold;
  }
  .footer span {
    font-size: 14px;
  }
  .section {
    display: flex;
    flex-direction: column;
  }
  .imgGIFI {
    position: absolute;
    height: 150px;
  }
  .zoneLOGO {
    position: relative;
    width: 15%;
    top: 145px;
    display: block;
  }
  .SignaTure {
    text-align: right;
    margin-top: -60%;
    font-size: 80%;
    line-height: 0.8;
  }
  .sectionFORM {
    padding: 0%;
  }
  .form_base {
    color: white;
    margin-top: 30%;
    margin-bottom: 0;
    width: 100%;
    padding-bottom: 15%;
    padding: 10%;
    background: url(./img/93dad0841430987dcf9f98dddd646064.gif) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .form_base input {
    color: white;
    font-weight: bold;
    background: black;
    height: 40px;
  }

  .title h1 {
    margin-top: 10%;
    text-align: center;
    font-size: 35px;
    margin-bottom: 30%;
    color: white;
    left: 8%;
  }
  .title p {
    color: white;
    font-size: 35px;
    margin-top: 10%;
    margin-left: -20%;
    border-bottom: 3px solid #cbf000;
  }

  .BODYsection {
    margin-top: 55%;
    margin-bottom: 55%;
    width: 70%;
    margin-left: 10%;
  }

  /*  */
  .ficheUSer {
    margin-bottom: 10%;
  }
}
