body {
  background: linear-gradient(166deg, black 33%, #212121, black);
  font-family: "Otomanopee One", sans-serif;
  background: url(./img/moon-36.gif) no-repeat;
  background-attachment: fixed;
}

.section {
  display: flex;
  justify-content: space-between;
}
.zoneLOGO {
  display: flex;
  flex-direction: column;
  width: 20%;
  top: 0;
  left: 0;
}

.imgGIFI {
  height: 195px;
  left: 0;
  top: 0;
}

.title {
  font-size: 13px;
  text-align: center;
  color: white;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title span {
  color: #cbf000;
  font-size: 190%;
  text-shadow: 2px 2px 3px black;
}
.title h1 {
  font-size: 32px;
  margin-top: 5%;
  color: white;
  text-align: center;
  display: block;
}
input:focus {
  border: 0px solid black;
  color: #cbf000;
  background: #fafafa;
}

.SignaTure {
  color: white;
  text-align: center;
  font-size: 13px;
  padding: 5%;
}
.sectionFORM {
  display: flex;
  margin-top: 5%;
}
.form_base {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.form_base input {
  font-family: "Otomanopee One", sans-serif;
  border-bottom: 2px solid white;
  background: url(./img/transparentnoir80.png);
  padding-left: 2%;
  height: 3em;
  width: 90%;
  font-size: 13px;
  color: #cbf000;
}
.button:hover {
  background: white;
  border: 1px solid #cbf000;
  color: black;
  font-weight: bold;
  text-align: center;
}
.button {
  margin: auto;
  font-family: "Otomanopee One", sans-serif;
  background: linear-gradient(90deg, black, #333333);
  color: #cbf000;
  padding: 2%;
  margin-top: 3%;
  text-align: center;
  display: flex;
  border-bottom: 3px solid #cbf000;
  width: 33%;
}

.footer {
  background: linear-gradient(134deg, #fafafa, #978a8a);
  text-align: center;
  padding: 5%;
  bottom: 0;
}
.footer a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
}
.footer a:hover {
  color: #cbf000;
}
.footer strong {
  color: #cbf000;
  text-shadow: 1px 1px 1px black;
}

/* COMPONENT STEP 2*/ /* COMPONENT STEP 2*/
.BODYsection {
  padding: 5%;
  width: 50%;
  margin-left: 20%;
  margin-top: 5%;
  background: url(./img/transparent75NEW_BW.png);
  box-shadow: black 0px 8px 8px 0px;
  border: 3px solid white;
  border-radius: 10px;
}

.pageTitle {
  color: #cbf000;
  font-weight: bold;
  padding: 1%;
  font-size: 25px;
  margin-bottom: 10%;
}
.ficheUSer {
  color: white;
  text-align: center;
}
.goBack {
  padding: 2%;
  width: 100%;
}
/* COMPONENT STEP 2*/ /* COMPONENT STEP 2*/

/*      MEDIA QUERY         */

@media (max-width: 984px) {
  body {
    background: #efefef;
    color: black;
    background-attachment: fixed;
    background-size: cover;
  }
  .title {
    margin-bottom: 5%;
    font-size: 20px;
    color: black;
  }
  .title h1 {
    position: relative;
    color: black;
    top: 0;
    right: 0;
  }
}

@media (max-width: 480px) {
  body {
    background: black;
  }
  .section {
    display: flex;
    flex-direction: column;
  }
  .zoneLOGO {
    position: absolute;
    width: 25%;
    top: 100px;
    opacity: 0.4;
  }
  .SignaTure {
    text-align: right;
    margin-top: -44%;
    font-size: 65%;
  }

  .form_base {
    color: white;
    margin-top: 20%;
    margin-bottom: 0;
    width: 100%;
    padding: 10%;
    background: url(./img/93dad0841430987dcf9f98dddd646064.gif) no-repeat;
    background-size: cover;
  }
  .form_base input {
    color: red;
    background: black;
  }
  .title h1 {
    margin-top: 15%;
    font-size: 23px;
    margin-bottom: 30%;
    color: white;
  }
  .title p {
    color: white;
    font-size: 15px;
    margin-top: 10%;
  }

  .BODYsection {
    margin-top: 30%;
    margin-bottom: 25%;
    width: 70%;
    margin-left: 10%;
  }

  /*  */
  .ficheUSer {
    margin-bottom: 10%;
  }
}
