.custom-shape-divider-top-1629292462 {
  display: none;
}

.custom-shape-divider-top-1629292462 svg {
  display: none;
}

.custom-shape-divider-top-1629292462 .shape-fill {
  display: none;
}

/* nuage html path */

body {
  background: linear-gradient(166deg, black 33%, #212121, black);
  font-family: "Staatliches", cursive;
  background: url(./img/moon-36.gif) no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.section {
  display: flex;
  justify-content: space-between;
}
.zoneLOGO {
  width: 20%;
  top: 0;
  left: 0;
}

.imgGIFI {
  height: 195px;
  left: 0;
  top: 0;
}

.title {
  font-size: 13px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title span {
  color: #cbf000;
  font-size: 190%;
  text-shadow: 2px 2px 3px black;
}
.title h1 {
  font-size: 32px;
  margin-top: 5%;
  color: white;
  text-align: center;
  display: block;
}

.SignaTure {
  color: white;
  text-align: center;
  padding: 5%;
  font-family: "Indie Flower", cursive;
}

.sectionFORM {
  display: flex;
  margin-top: -5%;
  padding: 5%;
}
.form_base {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}
.input a {
  position: absolute;
  border: 1px solid #cbf000;
  border-radius: 10px;
  padding: 1%;
  top: 0;
  right: 8%;
  color: white;
  font-weight: lighter;
  text-decoration: none;
}
.input {
  width: 100%;
  align-items: center;
  margin-left: 7%;
  position: relative;
}
.form_base input {
  font-family: "Otomanopee One", sans-serif;
  border: none;
  border-bottom: 3px solid #cbf000;
  background: url(./img/transparentnoir80.png);
  padding-left: 2%;
  height: 3em;
  width: 90%;
  font-size: 14px;
  color: white;
  font-weight: 900;
}
.button:hover {
  background: #fafafa;
  border: 3px solid #cbf000;
  color: black;
  font-weight: bold;
  text-align: center;
  border-left: 15px solid #333333;
  border-right: 15px solid #333333;
}
.button {
  font-family: "Otomanopee One", sans-serif;
  background: linear-gradient(90deg, black, #333333);
  color: #cbf000;
  padding: 1.5%;
  margin-top: 10%;
  border-left: 15px solid black;
  border-right: 15px solid black;
  border-radius: 5px;
  width: 80%;
}

.footer {
  background: linear-gradient(134deg, #fafafa, #978a8a);
  text-align: center;
  padding: 2.5%;
  display: block;
  font-family: "Indie Flower", cursive;
}
.footer a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
}
.footer a:hover {
  color: #cbf000;
}
.footer strong {
  color: #cbf000;
  text-shadow: 1px 1px 1px black;
}

/* COMPONENT STEP 2*/ /* COMPONENT STEP 2*/
.BODYsection {
  padding: 5%;
  width: 50%;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 10%;
  background: url(./img/transparent75NEW_BW.png);
  box-shadow: black 0px 8px 8px 0px;
  border: 3px solid white;
  border-radius: 10px;
}

.pageTitle {
  color: #cbf000;
  font-weight: bold;
  padding: 1%;
  font-size: 25px;
  margin-bottom: 10%;
}
.ficheUSer {
  color: white;
  text-align: center;
}
.goBack {
  padding: 3%;
  width: 100%;
}
/* COMPONENT STEP 2*/ /* COMPONENT STEP 2*/

/*      MEDIA QUERY         */

@media (max-width: 984px) {
  body {
    background: #efefef;
    color: black;
    background-image: url(./img/giphy223.gif);
    background-attachment: fixed;
    background-size: cover;
  }
  .form_base {
    margin-top: -15%;
    margin-bottom: 5%;
  }
  .title {
    font-size: 40px;
    color: white;
    padding-left: 8%;
  }
  .title h1 {
    position: relative;
    color: white;
    font-size: 50px;
    top: 0;
    right: 0;
    text-align: center;
  }
  .zoneLOGO {
    display: none;
  }
  .SignaTure {
    margin-top: 5%;
  }
}

@media (max-width: 480px) {
  .custom-shape-divider-top-1629292462 {
    display: block;
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1629292462 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
  }

  .custom-shape-divider-top-1629292462 .shape-fill {
    fill: black;
    display: block;
  }

  body {
    background: black;
  }
  .footer {
    background: linear-gradient(134deg, #333333, black, #212121);
    color: white;
    padding: 10%;
  }
  .footer a {
    font-weight: bold;
    color: #575757;
  }
  .footer span {
    font-size: 14px;
  }
  .section {
    display: flex;
    flex-direction: column;
  }
  .imgGIFI {
    position: absolute;
    height: 150px;
  }
  .zoneLOGO {
    position: relative;
    width: 12.5%;
    top: -20px;
    left: -5%;
    display: block;
  }
  .SignaTure {
    text-align: right;
    margin-top: 0%;
    position: absolute;
    right: 1.5%;
    top: 0;
    font-size: 90%;
    line-height: 0.8;
  }
  .sectionFORM {
    background: url(./img/93dad0841430987dcf9f98dddd646064.gif) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0%;
    margin: 0;
    width: 100%;
    position: relative;
  }
  .form_base {
    color: white;
    width: 100%;
    margin-top: 13%;
    padding: 15%;
    align-items: center;
    /* background: url(./img/transparentnoir80.png) no-repeat;
    background-size: cover;
    background-position: center; */
  }
  .form_base input {
    color: white;
    font-weight: bold;
    border-bottom: 6px solid #cbf000;
    background: black;
    margin-top: 0px;
    height: 30px;
  }
  .title {
    display: block;
    margin: 35% 0% 10% 0%;
  }
  .title h1 {
    font-size: 30px;
    margin-bottom: -10%;
    color: white;
    text-align: left;
  }
  .title p {
    color: white;
    font-size: 25px;
    width: 30%;
    text-align: left;
    border-bottom: 3px solid #cbf000;
  }

  .BODYsection {
    margin-top: 55%;
    margin-bottom: 55%;
    width: 70%;
    margin-left: 10%;
  }

  /*  */
  .ficheUSer {
    margin-bottom: 10%;
  }
}
